{%extends 'bases/indexAdm.html'%}
{% block title %}Edición Habitaciones{% endblock %}


{%block content%}

<table>
    {% if row %}
    <tr>            
        <th colspan="3">{{ row["nombre"] }} </th>
        <td >&nbsp;</td>
        <th colspan="2">{{ row["id"] }}</th>
    </tr>
    <tr>
        <td rowspan="4" ><img src="{{ url_for('static',filename='imagenes/hab.jpeg')}}" /></td>
        <td colspan="2">{{ row["capMax"] }}</td>
        <td >&nbsp;</td>
        <td colspan="2">
            {{ row["precio"] }}</td>
    </tr>
    <tr>
        <td colspan="2">{{ row["cantCamas"] }}</td>
        <td>&nbsp;</td>
        <td colspan="2">Tarifa por noche.<br> Impuestos incluidos</td>
    </tr>
    <tr>
        <td colspan="3">{{ row["descripcion"] }}</td>
        <td >&nbsp;</td>
        <td>Disponibilidad<br>{{ row["disponibilidad"] }}</td>
    </tr>

    {% endif %}
</table>

{% endblock %}