{%extends 'bases/indexHome.html'%}

{%block stylepages%}
<link rel="stylesheet" href="{{url_for('static', filename='estilos/estilos.css')}}" media="screen">
{%endblock%}


{%block listaNav1%}
<ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
  <li class="u-nav-item"><a
      class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
      href="\habitaciones" style="padding: 10px 20px;">Habitaciones</a>
  </li>
  <li class="u-nav-item"><a
      class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
      href="\habitaciones\panelAdm" style="padding: 10px 20px;">Dashboard</a>
  </li>
  <li class="u-nav-item"><a
      class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
      href="\login" style="padding: 10px 20px;">Cerrar sesion</a>
  </li>
</ul>
{%endblock%}

{%block listaNav2%}
<div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
  <div class="u-inner-container-layout u-sidenav-overflow">
    <div class="u-menu-close"></div>
    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
      <li class="u-nav-item"><a class="u-button-style u-nav-link" href="\habitaciones"
          style="padding: 10px 20px;">Habitaciones</a>
      </li>
      <li class="u-nav-item"><a href="\habitaciones\panelAdm" class="u-button-style u-nav-link" style="padding: 10px 20px;">
          Dashboard</a>
      </li>
      <li class="u-nav-item"><a href="\login" class="u-button-style u-nav-link" style="padding: 10px 20px;">
          Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</div>

<div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
  <div class="u-inner-container-layout u-sidenav-overflow">
    <div class="u-menu-close"></div>
    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
      <li class="u-nav-item"><a class="u-button-style u-nav-link" href="\habitaciones"
          style="padding: 10px 20px;">Habitaciones</a>
      </li>
      <li class="u-nav-item"><a href="\login" class="u-button-style u-nav-link" style="padding: 10px 20px;">
          Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</div>
{%endblock%}

{%block content%}

<div class="ventana">
    <table>
        <tr>
            <th class="encabezado"><input type="text" id="nameHab" name="name_hab" value="Suite Estándar" /></th>
            <th></th>
            <th class="id"><input type="text" id="idHab" name="id_hab" value="ID: H00101" /></th>
        </tr>
        <tr> 
            <td rowspan="5" class="grafico"><img src="{{ url_for('static',filename='imagenes/hab.jpeg')}}" /></td>
            <td class="campo"><input type="text" id="capMax" name="capacidad" value="Cap.máx 4 huéspedes"></td>
            <td><label>COP $</label><input type="number" id="precio" name="precio" value="250.000" ></td>
        </tr>
        <tr>
            <td class="campo"><input type="text" id="numcam" name="numero_camas" value="2 camas tipo Queen"></td>
            <td class="info">Tarifa por noche.<br> Impuestos incluidos</td>
        </tr>
        <tr>
            <td class="campo"><textarea id="desc" name="descripcion" cols="35" rows="4" maxlength="120" >Amplia habitación equipada con 2 camas Queen, closet, baño privado, TV LED, TV-Cable, Wi-Fi gratis, escritorio, minibar.</textarea></td>
        </tr>
        <tr>
            <td class="boton"><input type="button" onclick="edit();" id="editHab" value="Editar"></td>
            <td class="boton"><input type="submit" id="eliminarHab" value="Eliminar"></td>
        </tr>
    </table>

</div>

{% endblock %}