{%extends 'bases/indexAdm.html'%}
{% block title %}
Eliminar Habitación
{% endblock %}
{%block stylepages%}
<link rel="stylesheet" href="/static/estilos/estiloRecuperacion.css">
{% endblock %}

{%block content %}

<form action="/admin/panelAdm/gestionHab/eliminarH" id="formularioE" method="POST"  novalidate >
    {{ form.hidden_tag() }}
    <main class="form-signin">

        <div class="">
            <h1 class="h3 mb-3">Advertencia</h1>
        </div>
        <div class="row blcok pt-3">
            <label class="pt-2 h5 fw-normal">¿Esta seguro que desea eliminar esta habitación?</label>
        </div>
        <br>
        <br>
        <div> {{ form.eliminar(size=10) }} </div>
        <br>
    </main>

</form>
{%endblock%}