<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='estilos/css_gestion_comentarios.css')}}">
    <title>Mis Habitaciones</title>
</head>
<body >
<div class="fondo"> 
<div class="container">
    <div class="a">
        
            <img class="img_180x180" src="https://images.reactbricks.com/original/1754e377-af36-41e0-9a14-d0609916cabd.png"></img>
            <h1>Habitación 101</h1> 
            <p>Lorem <small> ipsum dolor sit, amet consectetur adipisicing elit.
                 Quas consequatur doloribus qui, excepturi voluptatibus aliquid, iusto deserunt 
                 ratione odio cupiditate laudantium neque! Voluptates ad quas voluptatibus 
                 sit labore corporis laudantium!</smal>
                <p><i>Estado: Disponible Máx: 4 personas #Camas: 2</i></p>
            <div class="cyc_view">
                <p class="cyc_view_c"><span style="color:#57C6C3"> <font size="6">★</span> </font><font size="5"> 5,0</font> <font size="2"></font><br><i>10 comentarios</i></font></p>    
                
            </div>
            <a style="margin-left: 400px; position: relative; left: 215px; top:-40px; display:none" href="url" >Ver mas</a> 
              
    </div>
    
        <div class="b">
            <h3>Comentario</h3>
            <img style="margin-left:10px" width="18px" height="18px" src="https://img.icons8.com/material-rounded/24/000000/edit--v1.png"/></img>
            <img style="margin-left:10px" width="18px" height="18px" src="https://img.icons8.com/material-sharp/24/000000/save.png"/></img>
            <img style="margin-left:210px" width="18px" height="18px" src="https://img.icons8.com/external-bearicons-glyph-bearicons/64/000000/external-trash-can-graphic-design-bearicons-glyph-bearicons.png"/></img>

            <textarea class="comentario" rows="4" cols="35">Mi comentario</textarea>
                <h4>Calificación<br />
              
                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                --><label for="radio1">★</label><!--
                --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                --><label for="radio2">★</label><!--
                --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                --><label for="radio3">★</label><!--
                --><input id="radio4" type="radio" name="estrellas" value="2" ><!--
                --><label for="radio4">★</label><!--
                --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                --><label for="radio5">★</label></h4>
                <div>
                <img style="margin-left: 140px;" width="18px" height="18px" src="https://img.icons8.com/material-sharp/24/000000/save.png"/></img>
                </div>
            </div>

</div>


<!------>
<div class="container">
    <div class="a">
        
            <img class="img_180x180" src="https://definicion.de/wp-content/uploads/2019/12/habitacion.jpg"></img>
            <h1>Habitación 102</h1> 
            <p>Lorem <small>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                 Quas consequatur doloribus qui, excepturi voluptatibus aliquid, iusto deserunt 
                 ratione odio cupiditate laudantium neque! Voluptates ad quas voluptatibus 
                 sit labore corporis laudantium!</smal>
                <p><i>Estado: Disponible Máx: 4 personas #Camas: 2</i></p>
            <div class="cyc_view">
                <p class="cyc_view_c"><span style="color:#57C6C3"> <font size="6">★</span> </font><font size="5"> 4,0</font> <font size="2"></font><br><i>10 comentarios</i></font></p>    
                
            </div>
            <a style="margin-left: 400px; position: relative; left: 215px; top:-40px; display:none" href="url" >Ver mas</a> 
              
    </div>
    
        <div class="b">
            <h3>Comentario</h3>
            <img style="margin-left:10px" width="18px" height="18px" src="https://img.icons8.com/material-rounded/24/000000/edit--v1.png"/></img>
            <img style="margin-left:10px" width="18px" height="18px" src="https://img.icons8.com/material-sharp/24/000000/save.png"/></img>
            <img style="margin-left:210px" width="18px" height="18px" src="https://img.icons8.com/external-bearicons-glyph-bearicons/64/000000/external-trash-can-graphic-design-bearicons-glyph-bearicons.png"/></img>

            <textarea class="comentario" rows="4" cols="35">Mi comentario 2</textarea>
                <h4>Calificación<br />
              
                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                --><label for="radio1">★</label><!--
                --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                --><label for="radio2">★</label><!--
                --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                --><label for="radio3">★</label><!--
                --><input id="radio4" type="radio" name="estrellas" value="2" ><!--
                --><label for="radio4">★</label><!--
                --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                --><label for="radio5">★</label></h4>
                <div>
                <img style="margin-left: 140px;" width="18px" height="18px" src="https://img.icons8.com/material-sharp/24/000000/save.png"/></img>
                </div>
            </div>

</div>
</div>


</body>
</html>