{%extends 'bases/indexHome.html'%}

{%block stylepages%}
<link rel="stylesheet" href="{{url_for('static', filename='estilos/habitaciones.css')}}">
{%endblock%}


{%block listaNav1%}
{%if usuario%}
<ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
  <li class="u-nav-item"><a
      class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
      href="\admin\habitaciones" style="padding: 10px 20px;">Habitaciones</a>
  </li>
  <li class="u-nav-item"><a
      class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
      href="\admin\panelAdm" style="padding: 10px 20px;">Dashboard</a>
  </li>
  <li class="u-nav-item"><a
      class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
      href="\login" style="padding: 10px 20px;">Cerrar sesion</a>
  </li>
</ul>

{%else%}
<ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
  <li class="u-nav-item"><a
      class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
      href="\habitaciones" style="padding: 10px 20px;">Habitaciones</a>
  </li>
  <li class="u-nav-item"><a
      class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
      href="\login" style="padding: 10px 20px;">Cerrar sesion</a>
  </li>
</ul>
{%endif%}
{%endblock%}

{%block listaNav2%}

{%if usuario%}
<div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
  <div class="u-inner-container-layout u-sidenav-overflow">
    <div class="u-menu-close"></div>
    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
      <li class="u-nav-item"><a class="u-button-style u-nav-link" href="\habitaciones"
          style="padding: 10px 20px;">Habitaciones</a>
      </li>
      <li class="u-nav-item"><a href="\admin\panelAdm" class="u-button-style u-nav-link" style="padding: 10px 20px;">
          Dashboard</a>
      </li>
      <li class="u-nav-item"><a href="\login" class="u-button-style u-nav-link" style="padding: 10px 20px;">
          Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</div>
{%else%}
<div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
  <div class="u-inner-container-layout u-sidenav-overflow">
    <div class="u-menu-close"></div>
    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
      <li class="u-nav-item"><a class="u-button-style u-nav-link" href="\habitaciones"
          style="padding: 10px 20px;">Habitaciones</a>
      </li>
      <li class="u-nav-item"><a href="\login" class="u-button-style u-nav-link" style="padding: 10px 20px;">
          Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</div>
{%endif%}
{%endblock%}

{%block content%}
{%if usuario%}
<div>

  <header>
    <div class="header">
      <div id="logo">
        <img src="{{url_for('static', filename='imagenes/RHC_.png')}}" alt="Logo" id="imgRHC">
      </div>
      <div id="user">
        <h3>Usuario</h3>
        <img src="{{url_for('static', filename='imagenes/avatar.png')}}" alt="Avatar" id="imgAvatar">
      </div>
    </div>
  </header>
  <div id="nav">
    <nav style="padding-left: 30px;">
      <a href="">Inicio</a>
      <a href="">>Habitaciones</a>
    </nav>
  </div>
  <div class="busqueda">
    <p style="padding-left: 30px;"><u>Criterios de busqueda </u></p>
    <label for="id" name="id" id="ide" style="padding-left: 30px;">ID:</label>
    <input type="text" name="id" id="id" autocomplete="off">
    <input type="button" value="Buscar" id="boton" onclick="Buscar()">
  </div>
  <div id="101" class="predeterminado">
    <section class="contenedor">
      <div class="habitaciones">
        <div>
          <img src="{{url_for('static', filename='imagenes/Habitacion.jpg')}}" alt="Habitacion" width="250" height="250"
            id="imgHab">
        </div>
        <div>
          <h1 style="text-align:left;">Habitacion 101</h1><br>
          <p id="descripHab">****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
          </p><br>
          <p style="text-align:left;">Estado: Disponible Max: 4 personas #Camas: 2</p>
        </div>
        <div id="otrosHab">
          <h1 style="text-align:left;">&#9733; <span>5,0</span></h1><br>
          <p style="text-align:left;">(10 comentarios)</p><br>
          <p style="text-align:left; font-size:20px"><b>$100.000</b></p>
          <a href="\admin\panelAdm\gestionHab\editarH">Ver más</a>
        </div>
      </div>
    </section>
  </div>
  <div id="102" class="mostrar" style="display: none;">
    <section class="contenedor">
      <div class="habitaciones">
        <div>
          <img src="{{url_for('static', filename='imagenes/Habitacion.jpg')}}" alt="Habitacion" width="250" height="250"
            id="imgHab">
        </div>
        <div>
          <h1 style="text-align:left;">Habitacion 102</h1><br>
          <p id="descripHab">****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
          </p><br>
          <p style="text-align:left;">Estado: Disponible Max: 4 personas #Camas: 2</p>
        </div>
        <div id="otrosHab">
          <h1 style="text-align:left;">&#9733; <span>5,0</span></h1><br>
          <p style="text-align:left;">(10 comentarios)</p><br>
          <p style="text-align:left; font-size:20px"><b>$100.000</b></p>
          <a href="\admin\panelAdm\gestionHab\editarH">Ver más</a>
        </div>
      </div>
    </section>
  </div>
  <div id="103" class="mostrar" style="display: none;">
    <section class="contenedor">
      <div class="habitaciones">
        <div>
          <img src="{{url_for('static', filename='imagenes/Habitacion.jpg')}}" alt="Habitacion" width="250" height="250"
            id="imgHab">
        </div>
        <div>
          <h1 style="text-align:left;">Habitacion 103</h1><br>
          <p id="descripHab">****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
          </p><br>
          <p style="text-align:left;">Estado: Disponible Max: 4 personas #Camas: 2</p>
        </div>
        <div id="otrosHab">
          <h1 style="text-align:left;">&#9733; <span>5,0</span></h1><br>
          <p style="text-align:left;">(10 comentarios)</p><br>
          <p style="text-align:left; font-size:20px"><b>$100.000</b></p>
          <a href="\admin\panelAdm\gestionHab\editarH">Ver más</a>
        </div>
      </div>
    </section>
  </div>
  <div id="104" class="mostrar" style="display: none;">
    <section id="103" class="contenedor">
      <div class="habitaciones">
        <div>
          <img src="{{url_for('static', filename='imagenes/Habitacion.jpg')}}" alt="Habitacion" width="250" height="250"
            id="imgHab">
        </div>
        <div>
          <h1 style="text-align:left;">Habitacion 104</h1><br>
          <p id="descripHab">****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
          </p><br>
          <p style="text-align:left;">Estado: Disponible Max: 4 personas #Camas: 2</p>
        </div>
        <div id="otrosHab">
          <h1 style="text-align:left;">&#9733; <span>5,0</span></h1><br>
          <p style="text-align:left;">(10 comentarios)</p><br>
          <p style="text-align:left; font-size:20px"><b>$100.000</b></p>
          <a href="\admin\panelAdm\gestionHab\editarH">Ver más</a>
        </div>
      </div>
    </section>
  </div>
  <div id="105" class="mostrar" style="display: none;">
    <section id="103" class="contenedor">
      <div class="habitaciones">
        <div>
          <img src="{{url_for('static', filename='imagenes/Habitacion.jpg')}}" alt="Habitacion" width="250" height="250"
            id="imgHab">
        </div>
        <div>
          <h1 style="text-align:left;">Habitacion 105</h1><br>
          <p id="descripHab">****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
          </p><br>
          <p style="text-align:left;">Estado: Disponible Max: 4 personas #Camas: 2</p>
        </div>
        <div id="otrosHab">
          <h1 style="text-align:left;">&#9733; <span>5,0</span></h1><br>
          <p style="text-align:left;">(10 comentarios)</p><br>
          <p style="text-align:left; font-size:20px"><b>$100.000</b></p>
          <a href="\admin\panelAdm\gestionHab\editarH">Ver más</a>
        </div>
      </div>
    </section>
  </div>
  <div id="mostrarHab">
    <hr width="80%">
    <button id="btn2" onclick="Mostrar()">Mostrar mas habitaciones</button>
    <button id="btn3" onclick="Ocultar()" style="display: none;">Mostrar menos</button>
  </div>

</div>
{%else%}
<div>

  <header>
    <div class="header">
      <div id="logo">
        <img src="{{url_for('static', filename='imagenes/RHC_.png')}}" alt="Logo" id="imgRHC">
      </div>
      <div id="user">
        <h3>Usuario</h3>
        <img src="{{url_for('static', filename='imagenes/avatar.png')}}" alt="Avatar" id="imgAvatar">
      </div>
    </div>
  </header>
  <div id="nav">
    <nav style="padding-left: 30px;">
      <a href="">Inicio</a>
      <a href="">>Habitaciones</a>
    </nav>
  </div>
  <div class="busqueda">
    <p style="padding-left: 30px;"><u>Criterios de busqueda </u></p>
    <label for="id" name="id" id="ide" style="padding-left: 30px;">ID:</label>
    <input type="text" name="id" id="id" autocomplete="off">
    <input type="button" value="Buscar" id="boton" onclick="Buscar()">
  </div>
  <div id="101" class="predeterminado">
    <section class="contenedor">
      <div class="habitaciones">
        <div>
          <img src="{{url_for('static', filename='imagenes/Habitacion.jpg')}}" alt="Habitacion" width="250" height="250"
            id="imgHab">
        </div>
        <div>
          <h1 style="text-align:left;">Habitacion 101</h1><br>
          <p id="descripHab">****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
          </p><br>
          <p style="text-align:left;">Estado: Disponible Max: 4 personas #Camas: 2</p>
        </div>
        <div id="otrosHab">
          <h1 style="text-align:left;">&#9733; <span>5,0</span></h1><br>
          <p style="text-align:left;">(10 comentarios)</p><br>
          <p style="text-align:left; font-size:20px"><b>$100.000</b></p>
          <a href="\reserva">Ver más</a>
        </div>
      </div>
    </section>
  </div>
  <div id="102" class="mostrar" style="display: none;">
    <section class="contenedor">
      <div class="habitaciones">
        <div>
          <img src="{{url_for('static', filename='imagenes/Habitacion.jpg')}}" alt="Habitacion" width="250" height="250"
            id="imgHab">
        </div>
        <div>
          <h1 style="text-align:left;">Habitacion 102</h1><br>
          <p id="descripHab">****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
          </p><br>
          <p style="text-align:left;">Estado: Disponible Max: 4 personas #Camas: 2</p>
        </div>
        <div id="otrosHab">
          <h1 style="text-align:left;">&#9733; <span>5,0</span></h1><br>
          <p style="text-align:left;">(10 comentarios)</p><br>
          <p style="text-align:left; font-size:20px"><b>$100.000</b></p>
          <a href="">Ver más</a>
        </div>
      </div>
    </section>
  </div>
  <div id="103" class="mostrar" style="display: none;">
    <section class="contenedor">
      <div class="habitaciones">
        <div>
          <img src="{{url_for('static', filename='imagenes/Habitacion.jpg')}}" alt="Habitacion" width="250" height="250"
            id="imgHab">
        </div>
        <div>
          <h1 style="text-align:left;">Habitacion 103</h1><br>
          <p id="descripHab">****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
          </p><br>
          <p style="text-align:left;">Estado: Disponible Max: 4 personas #Camas: 2</p>
        </div>
        <div id="otrosHab">
          <h1 style="text-align:left;">&#9733; <span>5,0</span></h1><br>
          <p style="text-align:left;">(10 comentarios)</p><br>
          <p style="text-align:left; font-size:20px"><b>$100.000</b></p>
          <a href="\reserva">Ver más</a>
        </div>
      </div>
    </section>
  </div>
  <div id="104" class="mostrar" style="display: none;">
    <section id="103" class="contenedor">
      <div class="habitaciones">
        <div>
          <img src="{{url_for('static', filename='imagenes/Habitacion.jpg')}}" alt="Habitacion" width="250" height="250"
            id="imgHab">
        </div>
        <div>
          <h1 style="text-align:left;">Habitacion 104</h1><br>
          <p id="descripHab">****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
          </p><br>
          <p style="text-align:left;">Estado: Disponible Max: 4 personas #Camas: 2</p>
        </div>
        <div id="otrosHab">
          <h1 style="text-align:left;">&#9733; <span>5,0</span></h1><br>
          <p style="text-align:left;">(10 comentarios)</p><br>
          <p style="text-align:left; font-size:20px"><b>$100.000</b></p>
          <a href="\reserva">Ver más</a>
        </div>
      </div>
    </section>
  </div>
  <div id="105" class="mostrar" style="display: none;">
    <section id="103" class="contenedor">
      <div class="habitaciones">
        <div>
          <img src="{{url_for('static', filename='imagenes/Habitacion.jpg')}}" alt="Habitacion" width="250" height="250"
            id="imgHab">
        </div>
        <div>
          <h1 style="text-align:left;">Habitacion 105</h1><br>
          <p id="descripHab">****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
            ****************************************************************
          </p><br>
          <p style="text-align:left;">Estado: Disponible Max: 4 personas #Camas: 2</p>
        </div>
        <div id="otrosHab">
          <h1 style="text-align:left;">&#9733; <span>5,0</span></h1><br>
          <p style="text-align:left;">(10 comentarios)</p><br>
          <p style="text-align:left; font-size:20px"><b>$100.000</b></p>
          <a href="\reserva">Ver más</a>
        </div>
      </div>
    </section>
  </div>
  <div id="mostrarHab">
    <hr width="80%">
    <button id="btn2" onclick="Mostrar()">Mostrar mas habitaciones</button>
    <button id="btn3" onclick="Ocultar()" style="display: none;">Mostrar menos</button>
  </div>

</div>
{%endif%}


<script src="{{url_for('static', filename='Script/habitaciones.js')}}"></script>
{% endblock %}