{%extends 'bases/indexHome.html'%}

{%block stylepages%}
<link rel="stylesheet" href="{{url_for('static', filename='estilos/habitaciones.css')}}">
{%endblock%}


{%block listaNav1%}
{%if rol == 'admin' or rol == 'supAdmin' %}
<ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
  <li class="u-nav-item"><a
      class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
      href="\habitaciones" style="padding: 10px 20px;">Habitaciones</a>
  </li>
  <li class="u-nav-item"><a
      class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
      href="\habitaciones\panelAdm" style="padding: 10px 20px;">Dashboard</a>
  </li>
  <li class="u-nav-item"><a
      class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
      href="\logout" style="padding: 10px 20px;">Cerrar sesion</a>
  </li>
</ul>

{%else%}
<ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
    <li class="u-nav-item"><a
        class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
        href="\habitaciones" style="padding: 10px 20px;">Habitaciones</a>
    </li>
  
    <li class="u-nav-item"><a
            class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
            href="\misHabitaciones" style="padding: 10px 20px;">Mis Habitaciones</a>
    </li>

  <li class="u-nav-item"><a
      class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
      href="\logout" style="padding: 10px 20px;">Cerrar sesion</a>
  </li>
</ul>
{%endif%}
{%endblock%}

{%block content%}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li style='background-color:red; color:aliceblue; font-size: 30px;'>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith%}
    <form action="/habitaciones" id="formulario" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="busqueda">
            <p style="padding-left: 30px;"><u>Criterios de busqueda </u></p>
            <div>
                {{ form.idHabitacion.label }}
                {{ form.idHabitacion(size=20) }}
                {{ form.estado() }}
                {{ form.estado.label }}
                {{ form.buscar(size=9) }}
            </div>
        </div>
        <div>
    </form>
    {% block contentHab %}
    {% if row %}
    <div>
        <section class="contenedor">
            <div class="habitaciones">
                <div>
                    <img src="{{url_for('static', filename='imagenes/hab.jpeg')}}" alt="Habitacion" width="250"
                        height="250" id="imgHab">
                </div>
                <div>
                    <h1 style="text-align:left;"><span>{{ row["nombre"] }}</span></h1>
                    <h3 id="hab" style="text-align:left;" >Habitacion <span>{{ row["id"] }}</span></h3>
                    <p id="descripHab" style="margin-right: 25px;">
                        {{ row["descripcion"] }}
                    </p>
                    <p style="text-align:left;"><b>Estado:</b> 
                        {%if row["disponibilidad"] == 1%}
                        <span>
                            Disponible
                        </span> 
                        {%else%}
                        <span>
                            No disponible
                        </span>
                        {%endif%} 
                        <br>
                        <b>Max:</b> 4 personas
                        <br>
                        <b>Camas:</b> 2
                    </p>
                </div>
                <div id="otrosHab">
                    <h1 style="text-align:left;">&#9733; <span>{{row["calificacion"]}}</span></h1>
                    <p id="coments" style="text-align:left;">({{cant}} comentarios)</p>
                    <a href="/habitaciones/comentarios/{{row['id']}}"> ver comentarios</a> 
                    <p style="text-align:left; font-size:20px"><b>${{ row["precio"] }}</b></p>
                    
                    {%if row["disponibilidad"] == 1%}
                        {%if rol == 'final'%}
                        <a href='/reserva/{{ row["id"] }}'>Reservar</a>
                        {%else%}
                        <a href='/reservaAdmin/{{ row["id"] }}'>Reservar</a>
                        {%endif%}
                    {%else%}
                        <a href='/habitaciones/disponible'>Reservar</a>
                    {%endif%}
                   
                </div>
            </div>
        </section>  
    </div>
    {% endif %}
    </div>
    <form action="/habitaciones" id="formularios" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div id="mostrarHab">
            <hr width="80%" style="margin-left: 10%;">
            {{ form.listar(size=9) }}
        </div>
    </form>
    {% endblock %}

<script src="{{url_for('static', filename='Script/habitaciones.js')}}"></script>
{% endblock %}