{% extends "habitaciones.html" %}
{% block contentHab %}
{% if row %}
<div>
    <section class="contenedor">
        <div class="habitaciones">
            <div>
                <img src="{{url_for('static', filename='imagenes/hab.jpeg')}}" alt="Habitacion" width="250"
                    height="250" id="imgHab">
            </div>
            <div>
                <h1 style="text-align:left;"><span>{{ row["nombre"] }}</span></h1>
                <h3 style="text-align:left;">Habitacion <span>{{ row["id"] }}</span></h3>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    comentarios
                </button>
                <p id="descripHab" style="margin-right: 25px;">
                    {{ row["descripcion"] }}
                </p>
                <p style="text-align:left;"><b>Estado:</b>
                    {%if row["disponibilidad"] == 1%}
                    <span>
                        Disponible
                    </span> 
                    {%else%}
                    <span>
                        No disponible
                    </span>
                    {%endif%}
                    <br>
                    <b>Max:</b> 4 personas
                    <br>
                    <b>Camas:</b> 2
                </p>
            </div>
            <div id="otrosHab">
                <h1 style="text-align:left;">&#9733; <span>{{row["calificacion"]}}</span></h1><br>
                <p style="text-align:left;">(10 comentarios)</p><br>
                <p style="text-align:left; font-size:20px"><b>${{ row["precio"] }}</b></p>
                {%if row["disponibilidad"] == 1%}
                    {%if rol == 'final'%}
                    <a href='/reserva/{{ row["id"] }}'> Ver más </a>
                    {%else%}
                    <a href='/habitaciones/gestionHab'> Ver más </a>
                    {%endif%}
                {%else%}
                    <a href='/habitaciones/disponible'> Ver más </a>
                {%endif%}
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Comentarios</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="coment-content">
                            <h4 class="user float-start " >Julian M.</h4>
                            <h4 class="float-end">4.5 &#9733;</h4>
                            <label style="text-align: left;" for="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam nisi ratione, enim non maxime eaque corrupti quod expedita quidem. Dignissimos ipsum omnis quos error nam possimus rerum magnam! Explicabo, reiciendis.</label>
                        </div> 
                        <br>
                        <div class="coment-content">
                            <h4 class="user float-start " >Julian M.</h4>
                            <label style="text-align: left;" for="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam nisi ratione, enim non maxime eaque corrupti quod expedita quidem. Dignissimos ipsum omnis quos error nam possimus rerum magnam! Explicabo, reiciendis.</label>
                        </div> 
                        <br>
                        <div class="coment-content">
                            <h4 class="user float-start " >Julian M.</h4>
                            <label style="text-align: left;" for="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam nisi ratione, enim non maxime eaque corrupti quod expedita quidem. Dignissimos ipsum omnis quos error nam possimus rerum magnam! Explicabo, reiciendis.</label>
                        </div> 
                        
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            
        </div>
    </section>
</div>
{% endif %}
<form action="/habitaciones" id="formularios" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div id="mostrarHab">
        <hr width="80%" style="margin-left: 10%;">
        {{ form.listar(size=9) }}
    </div>
</form>
{% endblock %}

