{%extends 'bases/indexHome.html'%}

{%block listaNav1%}
<ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
  <li class="u-nav-item"><a
      class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
      href="\" style="padding: 10px 20px;">Home</a>
  </li>
  <li class="u-nav-item"><a
      class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
      href="\registro" style="padding: 10px 20px;">Registrarse</a>
  </li>
  <li class="u-nav-item"><a
      class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
      href="\login" style="padding: 10px 20px;">Inicio de Sesión</a>
  </li>
</ul>
{%endblock%}

{%block listaNav2%}
<div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
  <div class="u-inner-container-layout u-sidenav-overflow">
    <div class="u-menu-close"></div>
    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
      <li class="u-nav-item"><a class="u-button-style u-nav-link" href="\"
          style="padding: 10px 20px;">Home</a>
      </li>
      <li class="u-nav-item"><a href="\registro" class="u-button-style u-nav-link" style="padding: 10px 20px;">
        Registrarse</a>
      </li>
      <li class="u-nav-item"><a href="\login" class="u-button-style u-nav-link" style="padding: 10px 20px;">Inicio de
          Sesión</a>
      </li>
    </ul>
  </div>
</div>
{%endblock%}

{%block content%}
<section class="u-align-left u-clearfix u-image u-section-1" src="" id="carousel_bf5b">
  <div class="u-clearfix u-sheet u-valign-bottom-xl u-sheet-1">
    <div class="u-align-left u-container-style u-group u-palette-1-base u-group-1">
      
      <div class="u-container-layout u-valign-middle u-container-layout-1">
        <h1 class="u-text u-title u-text-1">Hotel<br>Hyatt Regency Colombo
        </h1>
        <p class="u-large-text u-text u-text-variant u-text-2">Disfrute del mejor servicio en nuestro hotel, con
          habitaciones de lujo para hacer de su estancia una experiencia inolvidable.</p>
        <a href="\login"
          class="u-btn u-button-style u-text-palette-1-base u-white u-btn-1">HABITACIONES</a>
      </div>
      
    </div>
  </div>
</section>
{% endblock %}
          