{%extends 'bases/indexAdm.html'%}
{% block title %}Listado de Habitaciones{% endblock %}


{% block content %} 
    <table style = "width: 80%" border= "1" align="center" >
        <tbody>
            <tr style="text-align: center;">
                <td>ID</td>
                <td>Nombre Habitación</td>
                <td>Capacidad</td>
                <td>Cantidad de camas</td>
                <td>Precio</td>
                <td>Disponibilidad</td>
            </tr>
            {% for r in row %}
            <tr>
                <td> {{ r["id"] }}  </td>
                <td> {{ r["nombre"] }}  </td>
                <td> {{ r["capMax"] }}  </td>
                <td> {{ r["cantCamas"] }}  </td>
                <td> {{ r["precio"] }}  </td>
                <td> {{ r["disponibilidad"] }}  </td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}