{%extends 'bases/index.html'%}
{%block styles %}
    <link rel="stylesheet" href="/static/estilos/estiloInicio.css">
{% endblock %}

{%block content %}
<form action="" method="POST" id="formularioLogin" name="login">
    {{ form.hidden_tag() }}
    {{csrf_token }}
    <h1 class="h3 mb-3 fw-normal">Inicio de Sesion</h1>
    <br>
    <div class="form-floating">
        {{form.correo()}}
        <label for="floatingInput">Correo electronico</label>
    </div>
    <div class="form-floating">
        {{form.contrasena()}}
        <label for="floatingPassword">
            Contraseña
        </label>
    </div>
    <div class="row text-center pt-3">
        <div class="col-sm-3">
            <span class="input-group-text show-password fa fa-fw fa-eye" id="basic-addon1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                  </svg>
            </span>
        </div>
    </div>
    <br>
    {{form.enviar()}}
    <br>
    <div class="row text-center pt-3">
        <div class="pt-2"><a href="\login\recuperacion">¿Olvido su contraseña?</a></div>
        <div class="pt-2"><a href="\registro">Registrarse</a></div>
    </div>
</form>
{%endblock%}