{%extends 'bases/index.html'%}
{%block styles %}
    <link rel="stylesheet" href="/static/estilos/estiloInicio.css">
{% endblock %}

{%block content %}
<form action="" method="POST" id="formularioLogin" name="login">
    {{ form.hidden_tag() }}
    {{csrf_token }}
    <h1 class="h3 mb-3 fw-normal">Inicio de Sesion</h1>
    <br>
    <div class="form-floating">
        {{form.correo()}}
        <label for="floatingInput">Correo electronico</label>
    </div>
    <div class="form-floating">
        {{form.contrasena()}}
        <label for="floatingPassword">
            Contraseña
        </label>
    </div>
    <br>
    {{form.enviar()}}
    <br>
    <div class="row text-center pt-3">
        <div class="pt-2"><a href="\login\recuperacion">¿Olvido su contraseña?</a></div>
        <div class="pt-2"><a href="\registro">Registrarse</a></div>
    </div>
</form>
{%endblock%}