{%extends 'bases/index.html'%}

{%block styles %}
    <link rel="stylesheet" href="/static/estilos/estiloRecuperacion.css">
{% endblock %}


{%block content %}
<div class="mensaje">
    <h1 class="h3 mb-3 fw-normal ">Recupera tu cuenta</h1>
    <div>
        <label class="pt-2"">Se ha enviado un correo electronico para reestablecer la contraseña.</label>
    </div>
    <div>
        <label class="pt-2">En caso de que no se encuentre usuario asociado a esta contraseña, se enviara un link de registro en la plataforma.</label>
    </div>
    <br>
</div>
{%endblock%}