{%extends 'bases/indexAdm.html'%}
{% block title %}Dashboard {% endblock %}

{%block content%}
<div class="ventana">
  <table>
    <tr>
      <th class="encabezado">
        <h1>Panel Administrativo</h1>
      </th>
    </tr>
    <tr class="fila">
      <td><h4 >Bienvenido, presione uno de los botones para continuar</h4></td>
    </tr>
    <tr class="fila">&nbsp;</tr>
    <tr class="fila">
      <td class="c3"><a class="btn btn-primary" href="" onclick="gest_usr();" id="gestUsr">Gestión de Usuarios</a></td>
      <td class="c3"><a class="btn btn-primary" href="/admin/panelAdm/gestionHab" onclick="gest_hab();" id="gestHab">Gestión de Habitaciones</a></td>
      <td class="c3"><a class="btn btn-primary" href="" onclick="gest_com();" id="gestCom">Gestión de Comentarios</a>
      </td>
    </tr>
  </table>
</div>

{% endblock %}