html,body {
    height: 100%;
}
  
body{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 650px;
    max-height: 350px;
    padding: 15px;
    margin: auto;
    box-shadow: 0px 0px 4px 0px black;
    border-radius: 20px;
    text-align: justify;
  }

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin .message{
    text-align: justify;
}